<div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">
                Hecho curioso con números 
            </strong>
            <p>
                {{data}}
            </p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="https://cadenaser00.epimg.net/ser/imagenes/2019/11/18/gente/1574069070_053734_1574069355_noticia_normal.jpg" alt="logo numero">
    </div>
</div>